name: Set Up Everything

runs:
  using: composite

  steps:
    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        # For some reason Node 22 was causing some problems with installing dependencies.
        node-version: 20
        cache: yarn
        cache-dependency-path: tools/yarn.lock

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21
        cache: gradle
        cache-dependency-path: |
          tools/adventure-pack/goodies/java/build.gradle.kts
          tools/adventure-pack/goodies/kotlin/build.gradle.kts

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12.4

    - name: Install dependencies
      # I learned about https://github.com/yarnpkg/yarn/issues/2739 painfully.
      run: (cd tools && yarn install --production=false --frozen-lockfile)
      shell: bash
