name: Generate PR Health Report

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  pull-requests: write

# TODO: maybe cancel ongoing runs for this PR so there's not a race condition on posting the health report comment
env:
  NODE_ENV: development

jobs:
  generate-health-report:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up everything
        uses: ./.github/workflows/set-up-everything

      - name: Build script
        run: yarn workspace @code-chronicles/generate-health-report build
        env:
          NODE_ENV: production

      - name: Generate health report and post it on PR
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: "require('./workspaces/generate-health-report/dist/generate-health-report.js').default({context, github, os: '${{ matrix.os }}'})"
