name: Typecheck PRs

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  check-formatting:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up everything
        uses: ./.github/workflows/set-up-everything

      - name: Typecheck
        run: yarn typecheck
        # TODO: Annotations of files that fail the typecheck?
        # TODO: Maybe write up a job summary per https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#adding-a-job-summary
